body {}

main {
    background: url('/background.jpg') repeat;
    min-height: 100vh;
    max-width: 100vw;
    display: flex !important;
    width: 100%;
    padding-top: 30px;
}

.text-input-lbl {
    font-style: oblique 40deg;
    color: rgb(0, 0, 0);
}

#text-input {
    background-color: #fff;
}

#result {
    background-color: #222;
}